In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("SMSSpamCollection.txt", sep="\t", header=None,  names=["label", "Content_list"])

In [6]:
df.head()

  label                                       Content_list
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
df.shape

(5572, 2)